html,
body {
	padding: 0px;
	margin: 0px;
	height: 100%;
	/* 想要更多渐变色请参考 http://www.laoguoba.com/2718.html */
	background: linear-gradient(to bottom right ,#0CCDA3,#C1FCD3);
}

.hgroup {
	height: auto !important;
	margin-top: 15% ;
}

h1,
h2,
h3,
h4,
h5 {
	text-shadow: 2px 2px 4px #999;
	text-align: center;
	margin: auto;
	color: #333;
}

h1 {
	font-size: 68px;
}

h2 {
	margin-bottom: 7px;
	font-size: 30px;
}

h3 {
	font-size: 78px;
}

h4 {
	font-size: 72px;
}

h5 {
	font-size: 45px;
}

button {
	position: relative;
	color: rgba(255, 255, 255, 1);
	border: none;
	cursor: pointer;
	background-color: rgba(219, 87, 5, 1);
	font-size: 30px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0px 9px 0px rgba(219, 31, 5, 1), 0px 9px 25px rgba(0, 0, 0, .7);
	-moz-box-shadow: 0px 9px 0px rgba(219, 31, 5, 1), 0px 9px 25px rgba(0, 0, 0, .7);
	box-shadow: 0px 9px 0px rgba(219, 31, 5, 1), 0px 9px 25px rgba(0, 0, 0, .7);
	margin: 100px auto;
	outline: none;
	text-align: center;
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}

button:active {
	-webkit-box-shadow: 0px 3px 0px rgba(219, 31, 5, 1), 0px 3px 6px rgba(0, 0, 0, .9);
	-moz-box-shadow: 0px 3px 0px rgba(219, 31, 5, 1), 0px 3px 6px rgba(0, 0, 0, .9);
	box-shadow: 0px 3px 0px rgba(219, 31, 5, 1), 0px 3px 6px rgba(0, 0, 0, .9);
	position: relative;
	border: none;
	top: 6px;
}

/* 3d文字效果 */
.threed { 
  color: #fafafa; 
  letter-spacing: 0;
  text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
}

.notice{
	color: #000000;
	padding-top: 22px;
	text-align: center;
}

/* 蒲公英 */
/* 在小屏幕自动隐藏 */
  @media screen and (max-width:600px) {
  .dandelion { display: none !important; }
}
	
.dandelion span {
  /*display: block;*/
  position: fixed;
  z-index: 9999999999;
  bottom: 0px;
  background-image: url(https://ae01.alicdn.com/kf/U6681e76e56394e309842ca80be195e7ew.png);
  background-repeat: no-repeat;
  _background: none;
/* 动画效果 */
  -webkit-animation: ball-x 3s linear 2s infinite;
  -moz-animation: ball-x 3s linear 2s infinite;
  animation: ball-x 3s linear 2s infinite;
  -webkit-transform-origin: bottom center;
  -moz-transform-origin: bottom center;
  transform-origin: bottom center;
}
			
/* 大的蒲公英样式 */
.dandelion .bigdan { 
  width: 64px;
  height: 115px; 
  left: 41px; 
  background-position: -86px -36px; 
  border: 0px solid #fff;
}
			
/* 小的蒲公英样式 */
.dandelion .smalldan { 
  width: 36px; 
  height: 60px; 
  left: 88px; 
  background-position: 0 -90px; 
  border: 0px solid #fff;
}
			
/* 以下是动画效果 */
@keyframes ball-x {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(5deg);}
  50% {transform: rotate(0deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}
			
@-webkit-keyframes ball-x {
  0% {-webkit-transform: rotate(0deg);}
  25% {-webkit-transform: rotate(5deg);}
  50% {-webkit-transform: rotate(0deg);}
  75% {-webkit-transform: rotate(-5deg);}
  100% {-webkit-transform: rotate(0deg);}
}
			
@-moz-keyframes ball-x {
  0% { -moz-transform: rotate(0deg); }
  25% { -moz-transform: rotate(5deg); }
  50% { -moz-transform: rotate(0deg); }
  75% { -moz-transform: rotate(-5deg); }
  100% { -moz-transform: rotate(0deg); }
}

@media screen and (max-width: 980px) {
	
	.buttons {
		width: 100%;
		padding-top: 5px;
		display: flex;
		justify-content: center;
	}
}

@media screen and (max-width: 650px) {
	h1,
	h3,
	h4 {
		font-size: 58px;
	}

}
